export(as.list)
export(coeffs)
export(deviance)
export(fitted)
export(forwardrates)
export(ycplot)
export(residuals)
export(ycsummary)
export(ycextra)
export(ycinter)
importFrom("mcGlobaloptim", multiStartoptim)
importFrom("graphics", plot)
importFrom("methods", setGeneric)